body {
    text-align: center;
}
#main-nav {
    background-color: #747474;
    overflow: hidden;
}
#main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}
#main-nav ul#right {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
}
#main-nav ul#right #role {
    color: rgb(177, 220, 255);
    padding-right: 20px;
    padding-left: 20px;
}
#main-nav a {
    display: block;
    padding: 15px 30px; 
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    transition: background 0.3s;
    width: fit-content;
}
#main-nav a.logout {
    background-color: #9b0000;
}

/* Hover effect for links */
#main-nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Active state for the current page */
#main-nav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* ตั้งค่าให้ footer อยู่ด้านล่างสุด */
#main-footer {
    margin-top: auto;
    padding: 10px;
    background-color: #5e5e5e;
    color: white;
    text-align: center;
}